<% provide(:title, 'About Us') %>
<div class="white-panel pad10">
<h3>About</h3>
<p class="pad10">
  BYT(Bill Your Time) is a simple web interface desinged to quickly record time, generate invoices for the time recorded and reconcile, once the payments for the invoices are received. BYT is ideal for small businesses, teams as well as freelancers.  The application is developed and maintained by <a href="http://www.symphonize.net">Symphonize, Inc.</a>  
</p>
</div>
