<% provide(:title, 'Contact') %>
<div class="white-panel pad10">
<h3>Contact</h3>
<p>
  Contact Symphonize about the BYT app at the
  <a href="http://www.symphonize.net/contact.htm">contact page</a>.
</p>
</div>
