<% provide(:title, 'Help') %>
<div class="white-panel pad10">
<h3>Help</h3>
<p>
  Please contact Symphonize about any questions regarding BYT app at the
  <a href="http://www.symphonize.net/contact.htm">contact page</a>.
</p>
</div>
