<% provide(:title, 'Customers') %>
<div class="white-panel pad10">
	<h3>Customers</h3>
	<div class="pad10">
		<%= link_to "Add new customer", new_customer_path, class: "btn btn-primary" %>
		<hr />
	 	<table class="table table-hover table-bordered table-nonfluid">
			<tr>
				<th>Name</th>		
				<th>Contact</th>
				<th>Email</th>
				<th></th>
			</tr>
		  	<tbody id="customers">
		  		<%= render @customers%>
		  	</tbody>
		</table>
	</div>
</div>

