<% provide(:title, 'Customers') %>
<div class="white-panel pad10">
<h3>Customers</h3>
<p>
	<%= form_for :customer, remote: true, :html => { :id => "select_company" }, :url => { :action => "select_company" } do |f| %>
		<%= link_to "Add new customer", new_customer_path, class: "btn btn-primary" %>
  		<%= select_tag 'company', options_from_collection_for_select(user_companies, :id, :name, @company_id),
  		{onchange:  "$('#select_company').submit();", class: "btn span5"} %>	
  	<% end %>
</p>

<table class="table table-hover table-bordered table-nonfluid">
	<tr>
		<th>Name</th>		
		<th>Contact</th>
		<th>Email</th>
		<th></th>
	</tr>
  	<tbody id="customers">
  		<%= render @customers%>
  	</tbody>
</table>
</div>

