<% provide(:title, 'Contractors') %>
<div class="white-panel pad10">
	<h3>Contractors</h3>
	<div class="pad10">
		<%= link_to "Add new contractor", new_contractor_path, class: "btn btn-primary" %>
		<hr />
		<table class="table table-hover table-bordered table-nonfluid">
			<tr>
				<th>Name</th>		
				<th>Phone</th>
				<th>Email</th>
				<th></th>
			</tr>
			<tbody id="contractors">	
		  		<%=render @contractors%>
		  	</tbody>
		</table>  
	</div>
</div>
