<% provide(:title, 'Vendors') %>
<div class="white-panel pad10">
	<h3>Vendors</h3>
	<div class="pad10">
		<%= link_to "Add new vendor", new_vendor_path, class: "btn btn-primary" %>
		<hr />
		<table class="table table-hover table-bordered table-nonfluid">
			<tr>
				<th>Name</th>		
				<th>Contact</th>
				<th>Email</th>
				<th></th>
			</tr>
			<tbody id="vendors">		
				<%= render @vendors %>
			</tbody>
		</table>
	</div>
</div>
