<% provide(:title, 'Resources') %>
<div class="white-panel pad10">
	<h3>Resources</h3>
	<div class="pad10">
		Project:
	  	<%= form_for :resource, :html => { :id => "select_project" }, remote: true, url: { :action => "select_project" } do |f| %>
			<%= select_tag 'project', options_from_collection_for_select(@projects, :id, :name, @project_id),
	  		{onchange:  "$('#select_project').submit();", class: "span3"} %>
	  	<% end %>
	  	<hr />
	  	<p>
	  		<%= link_to "Add new resource", new_resource_path, class: "btn btn-primary" %>
  		</p>
		<table class="table table-hover table-bordered table-nonfluid">
			<tr>
				<th>Resource</th>		
				<th>Billing</th>
				<th>Rate</th>		
				<th></th>
			</tr>
			<tbody id="resources">
				<%= render @resources %>
			</tbody>
		</table>
	</div>
</div>
  

