<footer class="footer">
	<div style="padding:15px;">		
		<p>
		  <small>
			BYT App by
			<a href="http://www.symphonize.net/">Symphonize</a>	    
		  </small>
		  <nav>
		    <ul>
	    		<li><%= link_to "Help", help_path %></li>
		      	<li><%= link_to "About",   about_path %></li>
		      	<li><%= link_to "Contact", contact_path %></li>
		      	<li><a href="http://www.symphonize.net/">News</a></li>
		    </ul>
		  </nav>
		  </p>
	  </div>
</footer>