<div class="span2">
	<div style="padding:0px 5px 5px 15px;">
	<ul class="nav nav-list well">
      <li class="active"><a href="#">Timesheet</a></li>
      <li ><a href="#">Invoice</a></li>
      <li ><a href="#">Reconcile</a></li>
      <li ><a href="#">Reports</a></li>
      <li ><a href="#">Admin</a></li>		      
    </ul>   
    </div>	
</div>